<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Chat
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/index.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="/scripts/registro.js")
    body
        #welcome(class='full-height full-width')
            form#registro-form(action="http://localhost:3000/chat", method="POST")
                h1(class='center') Bienvenido!
                p(class='center lighter') Ingrese sus datos:
                input#username(type="text", name="username", placeholder="Usuario" required="true")
                input#passwd(type="password", name="passwd", placeholder="Password" required="true")
                button#send-form(class="lighter") INGRESAR

